* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Noto Sans KR";
}
/* 스킵분분 */
#skip {
  z-index: 999;
  position: relative;
  width: 100%;
  height: auto;
  font-size: 0;
}
#skip a {
  display: block;
  padding: 0;
  font-size: 0;
  text-align: center;
  color: #fff;
  background: #000;
}
#skip a:focus {
  padding: 20px;
  font-size: 16px;
}
#wrap {
  height: auto;
}
/* 레이아웃부분 */
#header {
  width: 100%;
  height: 150px;
  background: #ffffff;
  margin-top: 10px;
  position: relative;
  z-index: 8;
}
#banner {
  width: 100%;
  height: 39px;
  background: #f8f8f8;
}
#content {
}
#footer {
  width: 100%;
  height: 352px;
  background: #282828;
}
/* 공통속성 */
.container {
  height: inherit;
  width: 1200px;
  margin: 0 auto;
}
/* 헤더부분 */
.head_search {
  height: 80px;
  position: relative;
}
.head_search .head_icon {
  float: left;
}
.head_search .head_icon a.icon1 img {
  width: 115px;
  height: 36px;
  margin-right: 20px;
  margin-bottom: 5px;
}
.head_search .head_icon a.icon2 img {
  width: 80px;
  height: 40px;
  margin-top: 10px;
}
.head_search .search .search_main {
  width: 538px;
  height: 58px;
  border: 1px solid #f022fa;
  padding: 1px 2px 1px 10px;
  position: absolute;
  background: url(../img/slogan.png) no-repeat center 15px;
  left: 331px;
  box-sizing: border-box;
}
.head_search .search .search_btn {
  position: absolute;
  top: 18px;
  left: 820px;
  width: 24px;
  height: 24px;
}
.head_search .login_area {
  float: right;
  margin-top: 10px;
}
.head_search .login_area > li {
  float: left;
  font-family: "Nanum Gothic", sans-serif;
}
.head_search .login_area > li a {
  font-size: 15px;
}
.head_search .login_area > li a:hover {
  text-decoration: underline;
}
.head_search .login_area > li.login_icon2 {
  text-decoration: none;
}
.head_search .login_area > li.login_icon2 a {
  text-decoration: none;
}
.head_search .login_area > li a.login_in1 {
  background: url(../img/divide_dot.png) no-repeat right center;
  padding: 10px 17px 10px 12px;
  display: inline-block;
}
.head_search .login_area > li .login_in2 {
  text-align: center;
  background: #fff url(../img/language_btn_open.png) no-repeat right 10px center;
  padding: 9px 26px 9px 10px;
  box-sizing: border-box;
  width: 120px;
  margin-left: 10px;
  display: inline-block;
}
.head_search .login_area > li .login_in2.active {
  background: #000 url(../img/language_btn_close.png) no-repeat right 10px
    center;
  color: #ccc;
  border-radius: 5px 5px 0 0;
}
.language_menu {
  border: 5px solid #000;
  padding: 5px 5px 5px 5px;
  border-radius: 0 0 5px 5px;
  position: absolute;
  margin-left: 10px;
  display: none;
  width: 120px;
  background: #fff;
  border-top: 0;
  box-sizing: border-box;
}
.language_menu ul li {
  text-align: center;
  margin-top: 5px;
}
.active1 {
  background: #000;
}
/* 헤더네비게이션부분 */
.head_nav {
  height: 70px;
  overflow: hidden;
  margin: 0 auto;
}
.head_nav a img {
  width: 77px;
  height: 66px;
  float: left;
}
.head_nav .menu_btn img {
  width: 20px;
  height: 20px;
  float: right;
  line-height: 70px;
  display: block;
  margin-top: 20px;
}
.nav_search {
  width: 995px;
  height: 67px;
  display: inline-block;
  margin-left: 50px;
}
.nav_search > li {
  float: left;
}
.nav_search > li > a {
  color: #000000;
  width: 155px;
  height: 48px;
  display: block;
  font-size: 18px;
  margin-top: 22px;
  text-align: center;
}
.nav_search > li > a:hover {
  color: #d21d00;
}
.nav_search > li > .width100 {
  position: absolute;
  width: 100%;
  background: #f4f9ff;
  left: 0;
  top: 150px;
  border-top: 1px solid #000;
  box-shadow: 0 5px 5px #000;
  display: none;
  z-index: 5;
}
.nav_search > li:hover > .width100 {
  display: block;
}
.nav_search > li > .width100 > .width1200 {
  background: #fff;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0px 40px #e9ebf1;
}
.nav_search > li > .width100 > .width1200 > .owd {
  overflow: hidden;
  font-size: 16px;
}
.nav_search > li > .width100 > .width1200 > .owd a {
  color: #333;
}
.nav_search > li > .width100 > .width1200 > .owd > li {
  clear: both;
  border-bottom: 1px solid rgba(233, 235, 241, 0.7);
}
.nav_search > li > .width100 > .width1200 > .owd > li > .twd {
  float: left;
  width: 200px;
  background: #f4f9ff;
  color: #333;
}
.nav_search > li > .width100 > .width1200 > .owd > li > .twd:hover {
  text-decoration: underline;
}
.nav_search > li > .width100 > .width1200 > .owd > li > .twd > a {
  padding: 0 0 0 23px;
  display: block;
}
.nav_search > li > .width100 > .width1200 > .owd > li > .thwd {
  width: 1000px;
  height: inherit;
  overflow: hidden;
  padding: 8px 0;
  box-sizing: border-box;
}
.nav_search > li > .width100 > .width1200 > .owd > li > .thwd > li {
  float: left;
  width: 170px;
  margin: 5px 0 5px 13px;
  background: url(../img/arrow_icon_red.png) no-repeat left 1px top 8px;
  white-space: nowrap;
  margin-right: 55px;
}
.nav_search > li > .width100 > .width1200 > .owd > li > .thwd > li:hover {
  text-decoration: underline;
}
.nav_search > li > .width100 > .width1200 > .owd > li > .thwd > li > a {
  padding-left: 10px;
  color: #282828;
  padding-right: 15px;
}
.height39 {
  height: 39px;
}
.aheight39 {
  height: 39px;
  line-height: 39px;
}
.height50 {
  height: 50px;
}
.aheight50 {
  height: 50px;
  line-height: 50px;
}
.height80 {
  height: 80px;
}
.aheight80 {
  height: 80px;
  line-height: 80px;
}
.height112 {
  height: 118px;
}
.aheight112 {
  height: 118px;
  line-height: 118px;
}
.height173 {
  height: 150px;
}
.aheight173 {
  height: 150px;
  line-height: 150px;
}
.nav_search .images_area {
  overflow: hidden;
  position: relative;
}
.nav_search .images_area > li {
  float: left;
  border-right: solid 1px #f4f9ff;
  width: 132px;
}
.nav_search .images_area > li.menu_images1 {
  margin-left: 3px;
}
.nav_search .images_area > li > span {
  display: block;
}
.nav_search .images_area > li.menu_images1 > span {
  background: url(../img/area_menu01_icon.png) no-repeat center 30px;
}
.nav_search .images_area > li.menu_images2 > span {
  background: url(../img/area_menu02_icon.png) no-repeat center 30px;
}
.nav_search .images_area > li.menu_images3 > span {
  background: url(../img/area_menu03_icon.png) no-repeat center 30px;
}
.nav_search .images_area > li.menu_images4 > span {
  background: url(../img/area_menu04_icon.png) no-repeat center 30px;
}
.nav_search .images_area > li.menu_images5 > span {
  background: url(../img/area_menu05_icon.png) no-repeat center 30px;
}
.nav_search .images_area > li.menu_images6 > span {
  background: url(../img/area_menu06_icon.png) no-repeat center 30px;
}
.nav_search .images_area > li.menu_images7 > span {
  background: url(../img/area_menu07_icon.png) no-repeat center 30px;
}
.nav_search .images_area > li.menu_images8 > span {
  background: url(../img/area_menu08_icon.png) no-repeat center 30px;
}
.nav_search .images_area > li.menu_images9 > span {
  background: url(../img/area_menu09_icon.png) no-repeat center 30px;
}
.nav_search .images_area > li a {
  padding: 88px 0 20px;
  display: block;
  text-align: center;
  font-size: 16px;
  color: #1f1b1b;
}
.nav_search .images_area > li a img {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 96px;
  right: 20px;
}
.nav_search .images_area > li a:hover {
  text-decoration: underline;
}
.nav_search .info_images {
  overflow: hidden;
  position: relative;
}
.nav_search .info_images > li {
  float: left;
  border-right: solid 1px #f4f9ff;
  width: 198.5px;
}
.nav_search .info_images > li.info_image1 {
  background: url(../img/tour_menu1_icon.png) no-repeat center 30px;
}
.nav_search .info_images > li.info_image1 a img {
  position: absolute;
  top: 96px;
}
.nav_search .info_images > li.info_image2 {
  background: url(../img/tour_menu2_icon.png) no-repeat center 30px;
}
.nav_search .info_images > li.info_image2 a img {
  position: absolute;
  top: 96px;
}
.nav_search .info_images > li.info_image3 {
  background: url(../img/tour_menu3_icon.png) no-repeat center 30px;
}
.nav_search .info_images > li.info_image3 a img {
  position: absolute;
  top: 96px;
}
.nav_search .info_images > li.info_image4 {
  background: url(../img/tour_menu4_icon.png) no-repeat center 30px;
}
.nav_search .info_images > li.info_image4 a img {
  position: absolute;
  top: 96px;
}
.nav_search .info_images > li.info_image5 {
  background: url(../img/tour_menu5_icon.png) no-repeat center 30px;
}
.nav_search .info_images > li.info_image5 a img {
  position: absolute;
  top: 96px;
}
.nav_search .info_images > li.info_image6 {
  background: url(../img/tour_menu6_icon.png) no-repeat center 30px;
  float: right;
}
.nav_search .info_images > li.info_image6 a img {
  position: absolute;
  top: 96px;
}
.nav_search .info_images > li a {
  font-size: 16px;
  color: #1f1b1b;
  display: block;
  padding: 88px 0 20px;
  text-align: center;
}
.nav_search .info_images > li a img {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 10px;
}
.nav_search .info_images > li a:hover {
  text-decoration: underline;
}
/* 배너부분 */
.sub_banner {
  padding: 10px 15px;
  height: 39px;
  box-sizing: border-box;
}
.sub_banner .banner_top {
  width: 1170px;
  margin: 0 20px;
  overflow: hidden;
}
.sub_banner .banner_top .location {
  float: left;
}
.sub_banner .banner_top .location .home a img {
  padding: 0 0 3px;
  display: inline-block;
}
.sub_banner .banner_top .location img {
  margin: 0 5px;
  vertical-align: middle;
}
.sub_banner .banner_top .location span {
  font-size: 12px;
  color: #606060;
}
.sub_banner .banner_top .sub_util {
  float: right;
  margin-right: 20px;
}
.sub_banner .banner_top .sub_util .print {
  display: inline-block;
  margin-left: 10px;
}
.sub_banner .banner_top .sub_util a img {
  vertical-align: middle;
}
.sub_banner .banner_top .sub_util span {
  display: inline-block;
  margin: 0 10px;
  font-size: 12px;
  color: #606060;
}
/* 콘텐츠부분 */
.banner_nav {
  height: 87px;
}
.banner_nav ul {
  overflow: hidden;
}
.banner_nav ul li a.banner_9 {
  width: 12%;
}
.banner_nav ul li a {
  color: #1f1b1b;
  float: left;
  width: 11%;
  height: 87px;
  text-align: center;
  padding-top: 5px;
  margin-top: 7px;
  font-size: 16px;
}
.banner_nav ul li a.banner_1 {
  background: url(../img/field_menu1_icon.png) no-repeat center top 5px;
}
.banner_nav ul li a.banner_2 {
  background: url(../img/field_menu2_icon.png) no-repeat center top 5px;
}
.banner_nav ul li a.banner_3 {
  background: url(../img/field_menu3_bg.png) no-repeat;
}
.banner_nav ul li a.banner_4 {
  background: url(../img/field_menu4_icon.png) no-repeat center top 5px;
}
.banner_nav ul li a.banner_5 {
  background: url(../img/field_menu5_icon.png) no-repeat center top 5px;
}
.banner_nav ul li a.banner_6 {
  background: url(../img/field_menu6_icon.png) no-repeat center top 5px;
}
.banner_nav ul li a.banner_7 {
  background: url(../img/field_menu7_icon.png) no-repeat center top 5px;
}
.banner_nav ul li a.banner_8 {
  background: url(../img/field_menu8_icon.png) no-repeat center top 5px;
}
.banner_nav ul li a.banner_9 {
  background: url(../img/field_menu9_icon.png) no-repeat center top 5px;
}
.banner_nav ul li a.banner_1:hover {
  background: url(../img/area_menu01_icon.png) no-repeat center top 5px;
}
.banner_nav ul li a.banner_2:hover {
  background: url(../img/area_menu02_icon.png) no-repeat center top 5px;
}
.banner_nav ul li a.banner_4:hover {
  background: url(../img/area_menu04_icon.png) no-repeat center top 5px;
}
.banner_nav ul li a.banner_5:hover {
  background: url(../img/area_menu05_icon.png) no-repeat center top 5px;
}
.banner_nav ul li a.banner_6:hover {
  background: url(../img/area_menu06_icon.png) no-repeat center top 5px;
}
.banner_nav ul li a.banner_7:hover {
  background: url(../img/area_menu07_icon.png) no-repeat center top 5px;
}
.banner_nav ul li a.banner_8:hover {
  background: url(../img/area_menu08_icon.png) no-repeat center top 5px;
}
.banner_nav ul li a.banner_9:hover {
  background: url(../img/area_menu09_icon.png) no-repeat center top 5px;
}
.banner_nav ul li a span {
  display: block;
  margin-top: 50px;
}
.banner_nav ul li a span.li {
  margin-top: -4px;
}
.main_banner {
  background: #e1e7ef;
  height: 400px;
}
.main_banner .mainbackground {
  background: url(../img/bg_property.jpg) no-repeat;
  width: 1200px;
  height: 440px;
  padding: 18px 10px 18px 35px;
  box-sizing: border-box;
  position: relative;
  z-index: 5;
}
.main_banner .mainbackground .main_text {
  float: left;
  width: 50%;
}
.main_banner .mainbackground h2 {
  font-size: 40px;
  font-weight: bold;
  display: inline-block;
}
.main_banner .mainbackground .line {
  width: 400px;
  height: 1px;
  background: #fff;
  margin: 5px 0;
}
.main_banner .mainbackground p {
  font-size: 20px;
}
.main_banner .mainbackground .info {
  float: left;
}
.main_banner .mainbackground .line_shot {
  width: 26px;
  height: 2px;
  background: #fff;
}
.main_banner .mainbackground h3 {
  font-size: 30px;
}
.main_banner .mainbackground .info_button ul {
  width: 570px;
  height: 270px;
  margin-top: 20px;
}
.main_banner .mainbackground .info_button ul li {
  float: left;
  margin-left: 5px;
  margin-bottom: 10px;
}
.main_banner .mainbackground .info_button ul li a {
  width: 270px;
  height: 60px;
  display: block;
  border-radius: 50px;
  background: #ff709f;
  padding: 10px 0 10px 10px;
}
.main_banner .mainbackground .info_button ul li a .button_icon {
  display: block;
  width: 30px;
  height: 30px;
  float: left;
  border-radius: 100%;
  background: #9d2e53;
  padding: 15px 15px;
}
.main_banner .mainbackground .info_button ul li a .info_text {
  display: block;
  padding-top: 15px;
  padding-left: 60px;
  margin-left: 15px;
}
.main_banner .mainbackground .info_button ul li a span {
  font-size: 20px;
  color: #fff;
  padding-left: 15px;
}
.shorcut_background {
  background: #fafbfc url(../img/deco_polygon.png) no-repeat right 110px bottom
    80px;
  width: 100%;
  height: auto;
  position: relative;
}
.shortcut {
  height: 502px;
  margin-top: 37px;
}
.shortcut .line3 {
  width: 26px;
  height: 2px;
  background: #2789f7;
  position: relative;
  top: 15px;
}
.shortcut h2 {
  font-size: 30px;
  margin: 0 0 30px;
  padding: 10px 0 0;
}
.shortcut .shortcut_menu ul li {
  float: left;
  width: 16%;
  margin-bottom: 12px;
}
.shortcut .shortcut_menu ul li.index {
  position: relative;
  z-index: 5;
}
.shortcut .shortcut_menu ul li a {
  display: block;
  width: 170px;
  height: 170px;
  border-radius: 20px;
  border: 5px solid #c1c7d7;
}
.shortcut .deco_polygon {
  position: absolute;
  top: -200px;
  left: -40px;
  z-index: 1;
}
/* 하단부분 */
.footer_box:after {
  content: "";
  clear: both;
  display: block;
}
.footer_box .twd {
  width: 1200px;
  height: 43px;
  border: 1px solid #3e3e3e;
  margin-top: 10px;
  float: left;
  position: relative;
}
.footer_box .twd > li {
  width: 197px;
  border-right: 1px solid #3e3e3e;
  height: 42px;
  float: left;
}
.footer_box .twd > li.box_la {
  border-right: none;
}
.footer_box .twd > li > span {
  color: #000;
  font-size: 16px;
  color: #bebebe;
  padding: 10px 0 0 14px;
  display: block;
}
.footer_box .twd > li > .btn1 {
  background: url(../img/select_plus.png) no-repeat;
  position: absolute;
  top: 15px;
  left: 170px;
  width: 12px;
  height: 12px;
}
.footer_box .twd > li > .btn2 {
  background: url(../img/select_plus.png) no-repeat;
  position: absolute;
  top: 15px;
  left: 370px;
  width: 12px;
  height: 12px;
}
.footer_box .twd > li > .btn3 {
  background: url(../img/select_plus.png) no-repeat;
  position: absolute;
  top: 15px;
  left: 570px;
  width: 12px;
  height: 12px;
}
.footer_box .twd > li > .btn4 {
  background: url(../img/select_plus.png) no-repeat;
  position: absolute;
  top: 15px;
  left: 770px;
  width: 12px;
  height: 12px;
}
.footer_box .twd > li > .btn5 {
  background: url(../img/select_plus.png) no-repeat;
  position: absolute;
  top: 15px;
  left: 970px;
  width: 12px;
  height: 12px;
}
.footer_box .twd > li > .btn6 {
  background: url(../img/select_plus.png) no-repeat;
  position: absolute;
  top: 15px;
  left: 1170px;
  width: 12px;
  height: 12px;
}
.footer_box .twd > li > ul {
  width: 189px;
  height: 312px;
  background: #000;
  border-radius: 10px 10px;
  position: absolute;
  display: none;
}
.footer_box .twd > li > ul.twd1 {
  top: -273px;
  left: 4px;
  z-index: 20;
}
.footer_box .twd > li > ul.twd1 a:hover {
  text-decoration: underline;
}
.footer_box .twd > li > ul.twd2 {
  top: -273px;
  left: 202px;
}
.footer_box .twd > li > ul.twd2 a:hover {
  text-decoration: underline;
}
.footer_box .twd > li > ul.twd3 {
  top: -273px;
  left: 401px;
}
.footer_box .twd > li > ul.twd3 a:hover {
  text-decoration: underline;
}
.footer_box .twd > li > ul.twd4 {
  top: -273px;
  left: 599px;
}
.footer_box .twd > li > ul.twd4 a:hover {
  text-decoration: underline;
}
.footer_box .twd > li > ul.twd5 {
  top: -197px;
  left: 796px;
  height: 235px;
}
.footer_box .twd > li > ul.twd5 a:hover {
  text-decoration: underline;
}
.footer_box .twd > li > ul.twd5 > li > ul {
  height: 180px;
  border-radius: 10px 10px;
  overflow: hidden;
}
.footer_box .twd > li > ul.twd6 {
  top: -273px;
  left: 1000px;
}
.footer_box .twd > li > ul.twd6 a:hover {
  text-decoration: underline;
}
.footer_box .twd > li:hover > ul {
  display: block;
}
.footer_box .twd > li > ul > li > h3 {
  color: #fff;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  font-weight: bold;
}
.footer_box .twd > li > ul > li > ul {
  width: 179px;
  margin: 0 0 0 5px;
  background: #fff;
  overflow-y: scroll;
  height: 257px;
  border-radius: 5px 0 0 5px;
}
.footer_box .twd > li > ul > li > ul > li {
  margin: 10px;
}
.footer_box .twd > li > ul > li > ul > li > a {
  font-size: 16px;
  color: #333;
}
.footer_box2 {
  margin: 25px 0;
  width: 1200px;
  height: 200px;
  text-align: center;
  position: relative;
}
.footer_box2 .footer_link {
  margin-bottom: 20px;
  overflow: hidden;
}
.footer_box2 .footer_link ul li {
  display: inline-block;
  width: 145px;
  height: 22px;
  margin: 10px 0 15px 0;
  background: url(../img/footer_link_devided.png) no-repeat center right;
  padding: 0 10px 0 10px;
  line-height: 22px;
}
.footer_box2 .footer_link ul li.footer_linkla {
  background: none;
}
.footer_box2 .footer_link ul li a {
  color: #8c8c8c;
  font-size: 16px;
}
.footer_box2 .footer_link ul li a:hover {
  text-decoration: underline;
}
.footer_box2 .footer_link ul li a span {
  color: #fff;
}
.footer_box2 .footer_sns ul li {
  display: inline-block;
}
.footer_box2 .footer_sns ul li.phon {
  width: 170px;
  height: 40px;
  background: #fff;
  border-radius: 50px;
}
.footer_box2 .footer_sns ul li a img {
  width: 37px;
  height: 37px;
}
.footer_box2 .footer_sns ul li.phon {
  background: #fff url(../img/phone_icon.png) no-repeat center left 6px;
  margin-left: 15px;
}
.footer_box2 .footer_sns ul .phon .number {
  width: 125px;
  padding: 0 0 0 45px;
  text-align: left;
  font-size: 16px;
  line-height: 115%;
}
.footer_box2 .footer_sns ul .phon strong {
  font-size: 20px;
  color: #282828;
}
.footer_box2 .footer_sns ul .phon span {
  font-size: 14px;
  color: #999;
}
.footer_address {
}
.footer_box2 .address address {
  font-size: 13px;
  color: #8c8c8c;
  margin-top: 25px;
}
.footer_box2 .address p {
  font-size: 13px;
  color: #8c8c8c;
  margin: 10px 0 0 0;
}
.footer_box2 .wa_icon img {
  position: absolute;
  bottom: -40px;
  right: 0;
  width: 77px;
  height: 55px;
}
.window {
  background: url(../img/window_icon01.png) no-repeat center right;
}
.window_left {
  background: url(../img/window_icon01.png) no-repeat center left 8px;
}
